body{
  /*fallback fonts*/
  font-family: Muli, Arial, Helvetica, sans-serif;
  margin: 0;
}

button{
  /*fallback fonts*/
  font-family: Muli, Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 90px / 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  padding: 18px 40px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  cursor: pointer;
}

.hidden{
  display: none;
}

/*Navbar*/
.navbar{
  position: fixed;
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 20px 5%;
  align-items: center;
  z-index: 2;
}
.nav-colored{
  transition-duration: 1s;
  transition-timing-function: ease;
  background-color: rgb(44,52,59);
}
.nav-transparent{
  transition-duration: 1s;
  transition-timing-function: ease;
  background-color: transparent;
}

.logo{
  height: 34px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  cursor: pointer;
}
.logo:hover{
  transform: scale(1.05);
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.logo1{
  transition-duration: 1s;
  transition-timing-function: ease;
  background-image: url('../assets/logo-default.png');
}

.logo2{
  transition-duration: 1s;
  transition-timing-function: ease;
  background-image: url('../assets/logo-inverse.png');
}

.links{
  display: flex;
}
.pagesLink{
  display: flex;
  align-items: center;
}
.link{
  color: white;
  font-size: 18px;
  margin: 0 20px;
  cursor: pointer;
}
.link:hover{
  color: rgb(51,117,236);
}

#pagesDropdownButton{
  height: 20px;
  width: 20px;
}
.dropdown{
  position: absolute;
  margin-top: 77px;
}
.dropdown > div {
  background-color: white;
  color: black;
  padding: 10px 20px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.dropdown > div:hover {
  background-color: rgb(51,117,236);
  color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.signInButton{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 15px 40px;
}
.signInButton:hover{
  background-color: white;
  border: 1px solid black;
  color: black;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

/*Homepage*/
.homebg{
  font-family: Muli;
  background-image: url("../assets/hero-1.jpg");
  width: 100%;
  background-size: cover;
}

.homebgContainer{
  width: 40%;
  margin-left: 10%;
  display: flex;
  padding-top: 10%;
  padding-bottom: 10%;
}

.line{
  background-color: white;
  height: 1px;
  width: 30%;
  margin-top: 8%;
  margin-right: 5%;
}
.homebgTextContainer {
  color: white;
}

.homebgButtonContainer{
  display: flex;
  padding-bottom: 10%;
}

.readMore{
  background-color: white;
  color: black;
  font-family: Muli;
}
.readMore:hover{
  color: rgb(51,117,236);
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.contactUs{
  margin-left: 6%;
  background-color: rgb(51,117,236);
  color: white;

}
.contactUs:hover{
  color: black;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}



/*what we do section*/
.whatWeDoContainer{
  background-color: rgb(249,248,248);
  width: 100%;
  padding-top: 3%;
}
.ourServices{
  text-align: center;
  margin: 50px auto 10px auto;
  width: 150px;
  font-size: 14px;
  padding: 5px 0px;
  color:rgb(51,117,236);
  background-color: rgba(173, 216, 230, 0.5);
  border-radius: 90px / 90px;
  font-weight: 600;
}
.whatWeDoText{
  font-size: 30px;
  text-align: center;
}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4% 10%;
}
.card {
  background-color:white;
  width: 280px;
  height: 320px;
  margin-bottom: 5%;
  text-align: center;
  padding: 20px;
  border-radius: 2%;
  box-shadow: 0px 5px 15px 5px rgba(236, 235, 235, 0.8);
  -moz-box-shadow:    0px 5px 15px 5px rgba(236, 235, 235, 0.8);
  -webkit-box-shadow: 0px 5px 15px 5px rgba(236, 235, 235, 0.8);
  transition-duration: 1s;
  transition-timing-function: ease;
}
.card:hover{
  transform: scale(1.1);
  transition-duration: 1s;
  transition-timing-function: ease;
}
.card > h2 {
  font-weight: 100;
}
.card > p {
  color: rgb(132,145,165);
}

.iconContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: static;
}
.icon{
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
}
.icon1{
  background-image: url('../assets/icon1.png')
}
.icon2{
  background-image: url('../assets/icon2.png')
}
.icon3{
  background-image: url('../assets/icon3.png')
}
.icon4{
  background-image: url('../assets/icon4.png')
}
.icon5{
  background-image: url('../assets/icon5.png')
}
.icon6{
  background-image: url('../assets/icon6.png')
}

.grayDot{
  width: 100px;
  height: 100px;
  background-color: rgba(236, 235, 235, 0.25);
  position: absolute;
  border-radius: 50%;
  margin-left: -25px;
  margin-top: 10px;
}


/*About Businet*/
.aboutbg{
  background-color: rgb(51,117,236);
  display: flex;
  padding: 10%;
  width: 80%;
  color: white;
}
.aboutVideo {
  background-image: url('../assets/stock-1.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 520px;
  height: 400px;
  margin-right: 10%;
  border-radius: 8px / 8px;
  position: static;
}
.aboutVideoFilter{
  background-color: rgba(20, 23, 56, 0.5);
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px / 8px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playButtonContainer{
  border: 1px solid rgba(255,255,255,0.25);
  background-color: transparent;
  border-radius: 8px / 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  padding: 5%;
}
.playButton{
  border-style: solid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 16px;
  height: 16px;
  border-width: 8px 0px 8px 16px;
  border-color: transparent transparent transparent white;
}
.aboutHeader{
  text-align: center;
  letter-spacing: 2px;
  margin: 10px 0 10px 0;
  width: 135px;
  font-size: 10px;
  padding: 5px 0px;
  color: white;
  background-color: rgba(173, 216, 230, 0.25);
  border-radius: 90px / 90px;
  font-weight: 700;
}
.aboutContent {
  width: 30%;
}

.readMore2 {
  margin: 20px;
  padding: 20px 40px;
  font-weight: 600;
}

.aboutText > h2 {
  font-weight: 75;
  font-size: 28px
}
.aboutText > p {
  font-size: 14px;
  padding-bottom: 14px;
}
.aboutText > ul {
  margin-left: -22px;
}
.aboutText li {
  margin-bottom: 10px;
}
.aboutText li:last-child {
  margin-bottom: 14px;
}

/*Accordian*/
.accordianContainer{
  padding: 10%;
  background-color: rgb(249,248,248);
}

.accordianElement{
  border: 1px solid rgba(173, 216, 230, 0.5);
  border-radius: 15px / 15px ;
  width: 90%;
  margin-bottom: 5%;
  padding: 5%;
  overflow: hidden;
}

.closed{
  height: 75px;
  background-color:transparent;
  animation: close 1s;
  -webkit-animation: close 1s; /* Safari 4+ */
  -moz-animation:    close 1s; /* Fx 5+ */
  -o-animation:      close 1s; /* Opera 12+ */
}
 @keyframes close {
   0% {height:200px}
   100% {height:75px}
 }
 @-webkit-keyframes close {
  0% {height:200px}
  100% {height:75px}
}
@-moz-keyframes close {
  0% {height:200px}
  100% {height:75px}
}
@-o-keyframes close {
  0% {height:200px}
  100% {height:75px}
}
.open{
  background-color: white;
  box-shadow: 0px 0px 15px 7px rgba(189, 189, 189, 0.5);
  -moz-box-shadow:    0px 0px 15px 7px rgba(189, 189, 189, 0.5);
  -webkit-box-shadow: 0px 0px 15px 7px rgba(189, 189, 189, 0.5);
  height: 200px;
  animation: open 1s;
  -webkit-animation: open 1s; /* Safari 4+ */
  -moz-animation:    open 1s; /* Fx 5+ */
  -o-animation:      open 1s; /* Opera 12+ */
}
@keyframes open {
   0% {height:75px}
   100% {height:200px}
 }
  @-webkit-keyframes open {
  0% {height:75px}
  100% {height:200px}
}
@-moz-keyframes open {
  0% {height:75px}
  100% {height:200px}
}
@-o-keyframes open {
  0% {height:75px}
  100% {height:200px}
}
.accordianElementTitleContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordianElementTitleContainer:hover{
  color: rgb(51,117,236);
}
.accordianDropdownArrow{
  z-index: 1;
  background-color: transparent;
  margin-right: -12px;
  cursor: pointer;
}

#accordianDropdown{
  height: 40px;
  width: 40px;
}

.accordianDropdownX{
  height: 20px;
  width: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.accordianElementDescription{
  margin-top: 7%;
}

.blueFont{
  color: rgb(51,117,236);
}
