body{
  font-family: Muli;
  margin: 0;
}

button{
  font-family: Muli;
  border: none;
  border-radius: 90px / 90px;
  padding: 20px 30px;
}

/*Navbar*/
.navbar{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  align-items: center;
}

.logo{
  background-image: url('../assets/logo-inverse.png');
  height: 34px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.links{
  display: flex;
}

.link{
  color: white;
  font-size: 18px;
  margin: 0 20px;
}

.signInButton{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 15px 40px;
}

/*Homepage*/
.homebg{
  font-family: Muli;
  background-image: url("../assets/hero-1.jpg");
  width: 100%;
  background-size: cover;
  height: 4;
}

.homebgContainer{
  width: 40%;
  margin-left: 20%;
  display: flex;
  padding-top: 20%;
}

.line{
  background-color: white;
  height: 1px;
  width: 35%;
  margin-top: 11%;
  margin-right: 5%;
}
.homebgTextContainer {
  color: white;
}

.homebgButtonContainer{
  display: flex;
  justify-content: space-around;
  padding-bottom: 10%;
}

.readMore{
  background-color: white;
  color: black
}

.contactUs{
  background-color: blue;
  color: white;
}
